<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
        <mapping class="by.bsu.fpmi.domain.Event" />
        <mapping class="by.bsu.fpmi.domain.Music" />
        <mapping class="by.bsu.fpmi.domain.Comment" />
        <mapping class="by.bsu.fpmi.domain.Photo" />
        <mapping class="by.bsu.fpmi.domain.Tag" />
        <mapping class="by.bsu.fpmi.domain.Profile" />
    </session-factory>
	    
</hibernate-configuration>